@media (max-width: 1045px){
    .navwrapper{
        padding: 1.5% 0.5%;
    }
    nav .links{
        display: none;
    }
    nav .right .hamburger{
        display: block;
    }
} 
@media (max-width: 850px){

   #speedSection .RealWorld div{
    flex-direction: column;
    text-align: start;
   }
   #speedSection .RealWorld div div{
    flex-direction: row;
   }
   #focusedSection .main{
    flex-direction: column !important;
   }
   #focusedSection .main .left{
    width: 95% !important;
   }
   #focusedSection .main .right{
    width: 95% !important;
   }
}
