*{
    margin: 0;
    padding: 0;
}
nav{
    max-width: 100%;
    background-color: #181a20;
    color: white;
    padding: 0.5% 0;
    .left{
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
    img{
        width: 120px;
        height: 35px;
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 110%;
    }
    ul{
        padding-top: 15px;
        // width: 10%;
        text-align: start;
        list-style-type: none;
        display: flex;
        // justify-content: space-between;
        column-gap: 55px;
        // align-items: center;
    }
    .drop{
        ul{
            a{  
                font-weight: 700;
                font-size: 180% !important;
            }
            button{
                font-size: 100%;
                font-weight: 700;
            }
            li{
                border-bottom: 1px black solid;
                padding: 10px !important;

            }
        }
        .drop2{
            li{
                border: none;
                padding: 0px !important;
            }
            a{
                border: none;
                font-size: 120% !important;
                color: grey;
            }
        }
    }
    .navwrapper{
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .right{
        display: flex;
        column-gap: 15px;
        .hamburger{
            display: none;
        }
    }
    i{
        font-size: 150%;
    }
    .btn{
        margin-top: -5px !important;
    }
    .get{
        padding: 20px 0px;
        i{
            font-size: 90%;
        }
        button{
            background-color: blue;
            color: white;
            border: none;
            border-radius: 20px;
            outline: none;
            padding: 1% 43%;
        }
    }
}
.button{
    background-color: white;
    color: blue;
    padding: 3% 15%;
    border: none;
    outline: none;
    border-radius: 30px;
}
#heroPage{
    width: 100%;
    height: auto;
    background-image: linear-gradient(black, rgb(42, 42, 128), black);
    .textwrapper{
        max-width: 50%;     
        margin: 0 auto;
        padding: 9% 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        h1{
            max-width: 90%;
            margin: 0 auto;
            color: white;
            font-size: 75px;
        }
        p{ 
            max-width: 100%;
            margin: 0 auto;
            color: #beb9cf;
            font-size: 150%;
        }
        .flex{

            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 30px;
        }
        .npm{
            height: 55px;
            width: 300px;
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid;
            border-color: linear-gradient(to right, blue , pink);
            .text{
                width: 500px;
                font-size: 90%;
                padding: 10px;
            }
            .copy{
                padding: 10px;
            }
        }
    }
    .sponsors{
        width: 85%;
        margin: 0 auto;
        padding-bottom: 5%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 25px;
        .left{
            max-width: 10%;
            color: #5f616e;
        }
        .main{
            max-width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 20px;
            flex-wrap: wrap;
            img{
                height: 90px;
                width: 200px;
            }
        }
    }
}

#speedSection{
    background-color: black;
    padding: 50px 0px;

    .sectWrapper{
        
        h1{
            text-align: center;
            font-size: 60px;
            color: white;
            padding: 30px 0px ;
        }
        .p{
            max-width: 65%;
            margin: 0 auto;
            text-align: center;
            font-size: 22px;
            color: #a7a9b1;
            padding-bottom: 50px;
            a{
                text-decoration: none;
                color: gray;
            }
        }
        .RealWorld{

            background-color: #252830;
            padding: 30px;
            color: #a7a9b1;
            max-width: 90%;
            margin: 0 auto;
            padding-bottom: 0px;
            div{
                display: flex;
                column-gap: 10px;
                font-size: 1.8rem;
                padding: 6px;
                align-items: center;
                justify-content: flex-end;
            }
            p{
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
            }
            .barWrapper1{
                border: 1px white solid;
                padding: 4px;
                border-radius: 10px;
                width: 80%;
                color: white;
                font-size: large;
                display: flex;
                justify-content: space-between;
                align-items: center ;
                .bar1{
                    height: 30px;
                    width: 96%;
                    border-radius: 5px;
                    background-image: linear-gradient(to right, #3357b8 , #4ceac9);
                }
            }
            .barWrapper{
                border: 1px #545864 solid;
                padding: 4px;
                border-radius: 10px;
                width: 80%;
                color: grey;
                font-size: large;
                display: flex;
                flex-wrap: wrap;
                column-gap: 10px;
                justify-content: flex-start;
                align-items: center ;
                .bar2{
                    height: 30px;
                    width: 65%;
                    border-radius: 5px;
                    background-color: #575b68;
                }
            }
            .bar3{
                height: 30px;
                width: 58%;
                border-radius: 5px;
                background-color: #575b68;
            }
            .bar4{
                height: 30px;
                width: 45%;
                border-radius: 5px;
                background-color: #575b68;
            }
            .bar5{
                height: 30px;
                width: 35%;
                border-radius: 5px;
                background-color: #575b68;
            }
            .p2{
                text-align: center;
                color: #a7a9b1;
                padding: 20px 0px;
                font-size: 1.05rem;
            }
            a{
                color: #c3c7cb;
            }
        }
    }
}
#focusedSection{

}