*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #181a20;
    color: white;
    padding: 0.5% 0;
    .left{
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
    img{
        width: 120px;
        height: 35px;
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 110%;
    }
    ul{
        padding-top: 15px;
        // width: 10%;
        text-align: start;
        list-style-type: none;
        display: flex;
        // justify-content: space-between;
        column-gap: 55px;
        // align-items: center;
    }
    .drop{
        ul{
            a{  
                font-weight: 700;
                font-size: 180% !important;
            }
            button{
                font-size: 100%;
                font-weight: 700;
            }
            li{
                border-bottom: 1px black solid;
                padding: 10px !important;

            }
        }
        .drop2{
            li{
                border: none;
                padding: 0px !important;
            }
            a{
                border: none;
                font-size: 120% !important;
                color: grey;
            }
        }
    }
    .navwrapper{
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .right{
        display: flex;
        column-gap: 15px;
        .hamburger{
            display: none;
        }
    }
    i{
        font-size: 150%;
    }
    .btn{
        margin-top: -5px !important;
    }
    .get{
        padding: 20px 0px;
        i{
            font-size: 90%;
        }
        button{
            background-color: blue;
            color: white;
            border: none;
            border-radius: 20px;
            outline: none;
            padding: 1% 43%;
        }
    }
}
